
.post-card {
    width: 15vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px dotted gray;
    border-radius: 5%;
    box-shadow: 5px 5px 1.5px rgba(0,0,0,0.1)
}

.post-card > img {
    margin-top: 25px;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}

.post-card > h5 {
    margin: 0;
}
